<form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-content">
        <span class="card-title">Создать аккаунт</span>
        <div class="input-field">
            <input id="email" type="email" formControlName="email" [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}">
            <label for="email">Email:</label>
            <span class="helper-text red-text" *ngIf="form.get('email').invalid && form.get('email').touched">
                <span *ngIf="form.get('email').errors['required']">Email must not be empty</span>
                <span *ngIf="form.get('email').errors['email']">Please enter a valid email</span>
            </span>
        </div>
        <div class="input-field">
            <input id="password" type="password" formControlName="password" [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}">
            <label for="password">Пароль:</label>
            <span class="helper-text red-text" *ngIf="form.get('password').invalid && form.get('password').touched">
                <span *ngIf="form.get('password').errors['required']">Password must not be empty</span>
                <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">Password is too short {{form.get('password').errors['minlength']['actualLength']}}/{{form.get('password').errors['minlength']['requiredLength']}}</span>
            </span>
        </div>
    </div>
    <div class="card-action">
        <button class="modal-action btn waves-effect" type="submit" [disabled]="form.invalid || form.disabled">Создать</button>
    </div>
</form>